* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 1940px;
  font-family: "Red Hat Display";
}

html,
body {
  height: 100%;
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: hsl(228, 100%, 95%);
}

/****************/
/* Style */
/****************/

.main_container {
  margin: 4rem auto;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 330px;
  width: 100%;
  border-radius: 1.5em;
}

.illustration {
  max-width: 330px;
  width: 100%;
  height: 200px;
  border-radius: 1.5em 1.5em 0 0;
}

.container {
  max-width: 330px;
  width: 85%;
  margin: 1.5rem auto;
}

h1 {
  font-size: 2.2rem;
  font-weight: 900;
  margin: 1rem auto;
  max-width: fit-content;
  color: hsl(223, 47%, 23%);
}

p {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.5rem auto;
  max-width: 320px;
  width: 95%;
  text-align: center;
  color: rgb(124, 124, 124);
  line-height: 1.6;
}

.plan {
  background-color: hsl(225, 100%, 98%);
  padding: 1rem 1.3rem;
  border-radius: 1em;
  max-width: 330px;
  width: 100%;
  margin: 1.5rem auto;
  flex-wrap: wrap;
}

.icon_price {
  gap: 1.6rem;
}

.icon {
  height: 4rem;
}

h2 {
  font-size: 1.35rem;
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

.price {
  font-size: 1.29rem;
}

a {
  font-size: 1.3rem;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

a:hover {
  color: hsla(245, 75%, 52%, 0.652);
  text-decoration: none;
  transition: all 0.3s;
}

.btn {
  background-color: hsl(245, 75%, 52%);
  max-width: 300px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 1px solid hsl(245, 75%, 52%);
  border-radius: 0.7em;
  margin: 1rem auto;
  cursor: pointer;
}

.btn:hover {
  background-color: hsla(245, 75%, 52%, 0.652);
  transition: all 0.3s;
}

.cancel--btn {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #fff;
  color: rgb(124, 124, 124);
  border: none;
  max-width: 300px;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  cursor: pointer;
}

.cancel--btn:hover {
  color: #000;
  transition: all 0.3s;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/****************/
/* Media queries */
/****************/

@media (max-width: 23.5em) {
  .main_container {
    max-width: 260px;
  }

  .container {
    margin: 1.2rem auto;
  }

  h1 {
    font-size: 2rem;
    margin: 0.8rem auto;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  h2 {
    font-size: 1.2rem;
  }

  .plan {
    margin: 1rem auto;
  }

  .price {
    font-size: 1rem;
  }

  a {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.19rem;
    margin: 0.5rem auto;
  }

  .cancel--btn {
    font-size: 1rem;
  }

  .icon {
    height: 3rem;
  }
}
